/* Resetting default margin and padding */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* Styling header */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

/* Styling sections */
section {
    padding: 50px;
}

/* Styling projects */
.project {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

/* Styling footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
